<div id="myCarousel" class="carousel slide">
  <%#<ol class="carousel-indicators">
    <kbd data-target="#myCarousel" data-slide-to="0" class="active"></kbd>
    <kbd data-target="#myCarousel" data-slide-to="1"></kbd>
    <kbd data-target="#myCarousel" data-slide-to="2"></kbd>
  </ol> %>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><img src="pills.jpg"></div>
    <div class="item"><img src="pills1.jpg"></div>
    <div class="item"><img src="pills2.jpg"></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div